{% extends 'core/plantillaInicio.html' %}

{% block body %}
{% for c in Productos %}

<div class="dog-food">
    
    <div class="image">
        <img alt="Sin foto" src="{{c.foto.url}}">
    </div>
    
    <div class="content">
        <h3> <span>{{c.nombre}}</span></h3>
        <p>{{c.descripcion}}</p>
        <a href="http://127.0.0.1:8000/producto/{{c.codigo}}" class="btn">Leer mas</a>
        <div class="amount">${{c.precio}}</div>
    </div>

</div>




{% endfor %}
{% endblock %}


{% block pro %}
{% for c in Productos %}
<div class="box-container">

    <div class="box">
        <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
        </div>
        
        <div class="image">
            <img alt="Sin foto" src="{{c.foto.url}}">
        </div>
        <div class="content">
            <h3>{{c.nombre}}</h3>
            <div class="amount"> ${{c.precio}}</div>
        </div>
    </div>
    {% endfor %}
{% endblock pro %}