{% extends 'core/PlantillaHora.html' %}
{% block section %}
<center><section style="max-width: 55%;" class="shop" id="shop">

    <div style="margin-top: 10px;" class="container">
        <form class="row mt-3 g-3 needs-validation" novalidate>
            <div class="col-6">
                <label style="font-size: 15px;" for="nameId" class="form-label">Nombre</label>
                <input style="height: 30px;" type="text" class="form-control" id="nameId" required>
            <div style="font-size: 12px;" class="valid-feedback">
                Todo bien
            </div>
            <div style="font-size: 12px;" class="invalid-feedback">
                Es necesario ingresar el nombre.
            </div>
            </div>
    
            <div class="col-6">
                    <label style="font-size: 15px;" for="surnameId" class="form-label">Apellidos</label>
                    <input style="height: 30px;" type="text" class="form-control" id="surnameId" required>
                <div style="font-size: 12px;" class="valid-feedback">
                    Todo bien
                </div>
                <div style="font-size: 12px;" class="invalid-feedback">
                    Es necesario ingresar los Apellidos.
                </div>
            </div>
            <div class="col-6">
                    <label style="font-size: 15px;" for="emailId" class="form-label">Email</label>
                    <input style="height: 30px;" type="email" class="form-control" id="emailId" required>
                <div style="font-size: 12px;" class="valid-feedback">
                    Todo bien
                </div>
                <div style="font-size: 12px;" class="invalid-feedback">
                    Es necesario ingresar el Email.
                </div>
            </div>
            <div class="col-6">
                <label style="font-size: 15px;" for="numeroId" class="form-label">Numero de Telefono</label>
                <input style="height: 30px;" type="number" class="form-control" id="numeroId" required>
            <div style="font-size: 12px;" class="valid-feedback">
                Todo bien
            </div>
            <div style="font-size: 12px;" class="invalid-feedback">
                Es necesario ingresar el Numero de Telefono.
            </div>
            </div>
            <div class="col-6">
                <label style="font-size: 15px;" for="marcaId" class="form-label">Marca y Modelo Vehículo</label>
                <input style="height: 30px;" type="text" class="form-control" id="marcaId" required>
                <div style="font-size: 12px;" class="valid-feedback">
                    Todo bien
                </div>
                <div style="font-size: 12px;" class="invalid-feedback">
                    Es necesario ingresar la Marca y el Modelo.
                </div>
            </div>
            <div class="col-6">
                <label style="font-size: 15px;" for="patenteId" class="form-label">Patente vehículo</label>
                <input style="height: 30px;" type="text" class="form-control" id="patenteId" required>
                <div style="font-size: 12px;" class="valid-feedback">
                    Todo bien
                </div>
                <div style="font-size: 12px;" class="invalid-feedback">
                    Es necesario ingresar la Patente del Vehiculo.
                </div>
            </div>
            <div class="col-6">
                <label style="font-size: 15px;" for="patenteId" class="form-label">Fecha de atencion</label>
                <input style="height: 30px;" type="datetime-local" class="form-control" id="patenteId" required>
                <div style="font-size: 12px;" class="valid-feedback">
                    Todo bien
                </div>
                <div style="font-size: 12px;" class="invalid-feedback">
                    Es necesario ingresar la Fecha y.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
    
                form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

</section></center>
{% endblock section %}