{% extends 'core/plantillaServicio.html' %}
{% block section %}
<section class="shop" id="shop">

    <h1 class="heading"> Nuestros <span> Servicios </span> </h1>
    <div class="servicios">
        <div class="contenedor">
            <div class="head">
                <h1 class="nomserv">Repuestos</h1>
            </div>
        </div>
        <div class="contenedor">
            <div class="head">
                <h1 class="nomserv">Servicios</h1>
            </div>
        </div>
        <div class="contenedor">
            <div class="head">
                <h1 class="nomserv">Neumaticos</h1>
            </div>
        </div>
    </div>
    

</section>
{% endblock section %}